* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background: skyblue;
    color: black;
    font-size: 400%;
    font-style: bold;
    text-align: center;
    padding: 10px;
}

header img {
    width: 1.5em;
    background: skyblue;
}

.motto {
    font-size: 40%;
    font-style: italic;
}

nav {
    background: lightblue;
    margin: 0px;
    
}
nav>ul {
    list-style: none;
    text-align: center;
    color: darkblue;
    margin: 0px;
    padding: 10px;
}

a:hover {
    color: black;
    background: skyblue;
}

h1 {
    color: darkgray;
}

h2 {
    color: silver;
}