body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Ubuntu, sans-serif;
    color:gray;
}

h1 {
    font-size: 2em;
    color: black;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 30em;
}


header, footer {
    text-align: center;
    background-color: lightblue;
    color: black;
}

header img {
    width: 7em;
    height: auto;
    float: left;
}

footer {
    font-size: .75em;

}